<html lang="en">
    <head>
        <title>Liberty Footwear</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 class="c1">Add New Product</h1>
        <form action="/AddData" method="POST">
            <label>Product Id : </label>
            <input type="number" placeholder="Enter product ID" name="pid"><br><br>
            <label>Product Category : </label>&nbsp;
            <input type="text" placeholder="Enter Category" name="category"><br><br>
            <label>Type of the product : </label>&nbsp;
            <input type="text" placeholder="Enter type" name="type"><br><br>
            <label>Size : </label>&nbsp;
            <input type="number" placeholder="Enter size" name="size"><br><br>
            <label>Stock : </label>&nbsp;
            <input type="number" placeholder="Enter stock" name="stock"><br><br>
            <label>Cost price : </label>&nbsp;
            <input type="number" placeholder="Enter cost" name="cp"><br><br>
            <label>Selling price : </label>&nbsp;
            <input type="number" placeholder="Enter SP" name="sp"><br><br>
            <button type="submit">Submit</button><br>
        </form>
        <a href="/" class="c2" >Home page</a>
    </body>
</html>