<html lang="en">
    <head>
        <title>Liberty Footwear</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 class="c1">Delete Product</h1>
        <form action="/delete" method="POST">
            <label>Product Id : </label>
            <input type="text" placeholder="Enter ID" name="pid"><br><br>
            <button type="submit">Delete</button>
        </form>
        <a href="/" class="c2" >Home page</a>
    </body>
</html>