<html lang="en">
    <head>
        <title>Liberty Footwear</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 class="c1">Update quantity of a Product</h1>
        <form action="/update" method="POST">
            <label>Product Id : </label>
            <input type="number" placeholder="Enter product ID" name="pid"><br><br>
            <label>New Stock : </label>&nbsp;
            <input type="number" placeholder="Enter quantity" name="stock"><br><br>
            <button type="submit">Update</button>
        </form>
        <a href="/" class="c2" >Home page</a>
    </body>
</html>