.c1{
    text-align: center;
}
.c2{
    text-decoration: none;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    text-align: left;
}
th{
    background-color: blue;
    color: white;
}
tr:nth-child(even){
    background-color:whitesmoke;
}
tr:nth-child(odd){
    background-color:darkgray;
}